<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=esc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Starters/Desserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Pappadams</a>
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Samosa</a>
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Carrot Cake</a>
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Chocolate Cake</a>
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Vanilla Cake</a>
                <a href="{% url 'products' %}?category=Starters/desserts" class="dropdown-item">Onion Bhaji</a>
                <a href="{% url 'products' %}?Starters/desserts" class="dropdown-item">All Starters & Desserts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Main Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=mainmenu" class="dropdown-item">Kebab</a>
                <a href="{% url 'products' %}?category=mainmenu" class="dropdown-item">Mantu</a>
                <a href="{% url 'products' %}?category=mainmenu" class="dropdown-item">Qabuli Palow</a>
                <a href="{% url 'products' %}?category=mainmenu" class="dropdown-item">Butter Chicken</a>
                <a href="{% url 'products' %}?mainmenu" class="dropdown-item">All Main Menu</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Smoothies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=smoothies" class="dropdown-item">Mango Lassi</a>
                <a href="{% url 'products' %}?category=smoothies" class="dropdown-item">Spinach Juice</a>
                <a href="{% url 'products' %}?category=smoothies" class="dropdown-item">Strwaberry Lassi</a>
                <a href="{% url 'products' %}?category=smoothies" class="dropdown-item">All Smoothies</a>
            </div>
        </li>
    </ul>
</div>